# Virtual environments
bankmarketing/
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data (keep structure, not files)
data/raw/*
data/processed/*

# OS junk
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
